$font-stack: Dosis;
$lightgrey: #f7fafc;
$grey: #777;
$main-color: #222;

body, html{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Roboto;
    color: $main-color;
    overflow-x: hidden;
}

*{
    position: relative;
    box-sizing: border-box;
    outline: none !important;
}

p{
    line-height: 22px;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
}

.header-menu {
    ul{
        float: left;
        padding: 0;
        margin: 0;
        margin-right: 20px;
        
        li{
            display: inline-block;
            vertical-align: top;
            
            a{
                display: block;
                color: #fff;
                text-decoration: none;
                line-height: 40px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    
    .header-download{
        float: left;
        margin-top: 2.5px;
    }
    
}

.btn{
    color: #222;
    background-color: #fff;
    font-weight: 500;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #eee;
    transition: all 0.1s;
    &:hover{
        background-image: linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a);
        color: #fff;
    }
}

h2{
    font-family: $font-stack;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
}

.start-exploring{
    background-image: linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a);
    margin-top: -100px;
    padding-bottom: 215px;
    padding-top: 215px;
}

.start-exploring{
    .start-exploring-text{
        color: #fff;
        margin-right: -30px;
        font-weight: 300;
        
        h2{
            margin-top: 0;
            font-size: 54px;
        }
        
        p{
            margin-bottom: 15px;
        }
        
        ul{
            margin: 0;
            padding: 0;
            margin-bottom: 35px;
        }
        
        li{
            padding-left: 30px;
            margin-bottom: 15px;
            background-image: url(../images/check.png);
            background-repeat: no-repeat;
            background-position: 0 50%;
            list-style: none;
        }
    }
    
    .start-exploring-img {
        position: absolute;
        right: 0;
        top: 147px;
    }
}

.features-items{
    padding-top: 110px;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;
    
    .features-item{
        margin-bottom: 50px;
        
        .features-icon{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 1px solid #eee;
            margin-right: 20px;
            float: left;
            text-align: center;
            
            img{
                display: inline-block;
            }
            
            .helper {
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
        }
        .features-title{
            font-family: $font-stack;
            font-weight: 600;
            margin-bottom: 15px;
            font-size: 24px;
        }
        .features-text{
            font-weight: 300;
            color: $grey;
            line-height: 21px;
        }
    }
}

.dont-leave{
    padding-top: 120px;
    padding-bottom: 120px;
    
    .dont-leave-text{
        padding-top: 56px;
        
        h2{
            font-size: 36px;
            margin-bottom: 20px;
            margin-top: 0;
        }
        
        p{
            color: $grey;
            font-weight: 300;
            margin-bottom: 20px;
        }
        
        ul{
            padding: 0;
            margin: 0;
            
            li{
                padding-left: 30px;
                margin-bottom: 15px;
                background-image: url(../images/check-b.png);
                background-repeat: no-repeat;
                background-position: 0 50%;
                list-style: none;
                color: $grey;
            }
        }
    }
}

.heading {
    h2{
        margin-top: 0;
    }
}

.screenshots{
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: $lightgrey;
}

.subhead{
    text-align: center;
    font-weight: 300;
    line-height: 22px;
}

.screenshots-slider-wrap{
    padding-top: 80px;
}

.screenshots-slider {
    margin-top: -30px;
    margin-bottom: -30px;
    
    .slick-list{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    
    [aria-hidden="true"]{
        opacity: 0;
    }
    
    .slick-current{
        z-index: 3;
        
        & + .slick-slide{
            z-index: 2;
            
            & + .slick-slide{
                z-index: 1;
            }
        }
    }
    
    .scaled + .scaled + .scaled + .scaled + .scaled + .scaled + .scaled{
        transform: scale(0.54);    
    }
    
    .scaled + .scaled,
    .scaled + .scaled + .scaled + .scaled + .scaled + .scaled{
        transform: scale(0.7);
    }
    
    .scaled + .scaled + .scaled,
    .scaled + .scaled + .scaled + .scaled + .scaled{
        transform: scale(0.85);
    }
    
    .scaled + .scaled + .scaled + .scaled{
        transform: scale(1);
    }
}

.screenshot-slide{
    transition: all 0.2s;
    transform: scale(0.54);    
    
    img{
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 30px -10px rgba(0,0,0,0.24);
    }
} 
    

.slick-arrow{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}


.slick-arrow::before{
    content: none !important;
}

.slick-prev{
    left: -67px !important;
    background-image: url(../images/arrow-l.png) !important;
    
    &:hover{
        background-image: url(../images/arrow-l-w.png), linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a) !important;
    }
}

.slick-next{
    background-image: url(../images/arrow-r.png) !important;
    right: -67px !important;
    
    &:hover{
        background-image: url(../images/arrow-r-w.png), linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a) !important;
    }
}

.pricing{
    padding-top: 110px;
    padding-bottom: 90px;
}

.pricing-items{
    padding-top: 70px;
    
    .pricing-item{
        background-color: $lightgrey;
        text-align: center;
        padding-bottom: 40px;
        cursor: pointer;
        margin-bottom: 30px;
        
        &:hover{
            background-color: #fff;
            box-shadow: 0 0 30px -10px rgba(0,0,0,0.24);
        }
        
        &:hover .pricing-price{
            background: linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a);
            color: #fff;
        }
        
        &:hover .pricing-start .btn{
            background: linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a);
            color: #fff;
        }
        &:hover .pricing-price::before,
        &:hover .pricing-price::after {
            border-color: #fff;
        }
        .pricing-title{
            font-family: $font-stack;
            font-size: 20px;
            line-height: 50px;
            font-weight: 500;
        }

        .pricing-price {
            font-family: $font-stack;
            font-weight: 600;
            font-size: 48px;
            background-color: #fff;
            padding-top: 10px;
            padding-bottom: 50px;
            
            &::before{
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
                height: 40px;
                border-bottom: 40px solid $lightgrey;
                border-right: 131px solid transparent !important;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 40px;
                border-bottom: 40px solid $lightgrey;
                border-right: none;
                border-left: 131px solid transparent !important;
            }
            sup {
                top: -21px;
                font-size: 18px;
            }

            sub{
                font-size: 18px;
                bottom: 0;
            }
        }
        
        .pricing-info{
            padding-top: 25px 25px 30px;
            
            .pricing-info-line{
                color: $grey;
                line-height: 35px;
                border-bottom: 1px dashed #eee;
                font-weight: 300;
                
                &:last-of-type{
                    border-bottom: none;
                }
            }
        }
        
        .pricing-start {
            span{
                display: block;
                line-height: 40px;
                color: #aaa;
                font-weight: 300;
            }

            .btn{
                width: 140px;
            }
        }
        
    }
}


.testimonials{
    padding-top: 120px;
    padding-bottom: 120px;
    
    .testimonials-inner{
        padding-top: 80px;
    }
}

.testimonials-slider{
    margin-top: -30px;
    margin-bottom: -30px;
    
    .slick-list{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .testimonials-slide{
        background-color: $lightgrey;
        padding: 35px 40px 40px;
        margin-right: 15px;
        margin-left: 15px;
        
        &:hover{
            background-color: #fff;
            box-shadow: 0 0 30px -10px rgba(0,0,0,0.24);
        }
        .testimonials-text{
            color: $grey;
            line-height: 21px;
        }
        .testimonials-author{
            padding-top: 25px;
            
            .testimonials-photo{
                float: left;
                margin-right: 20px;
            }

            .testimonials-name{
                font-family: $font-stack;
                font-size: 18px;
                margin-bottom: 5px;
                font-weight: 600;
                margin-top: 20px;
            }

            .testimonials-company{
                color: $grey;
                font-weight: 300;
            }
        }
    }
}

.download{
    background-image: linear-gradient(to right, #fd712c, #fd712c 30%, #f31e7a);
    padding-top: 120px;
    padding-bottom: 120px;
    
    h2{
        color: #fff;
        margin-bottom: 80px;
    }

}

.download-btn{
    background-color: #fff;
    height: 120px;
    cursor: pointer;
    
    .download-icon{
        width: 120px;
        height: 120px;
        background-color: $lightgrey;
        float: left;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-position: 50% 57%;
    }
    .download-content{
        padding-top: 28px;

        .download-title{
            font-family: $font-stack;
            font-size: 30px;
            font-weight: bold;
        }

        .download-text{
            font-weight: 300;
            color: $grey;
        }
    }

}


.download-apple {
    .download-icon{
        background-image: url(../images/download-icon-1.png);
    }
    &:hover .download-icon{
        background-image: url(../images/download-icon-1-h.png);
    }
}

.download-android {
    .download-icon{
        background-image: url(../images/download-icon-2.png);
    }
    &:hover .download-icon{
        background-image: url(../images/download-icon-2-h.png);
    }
}

.download-windows {
    .download-icon{
        background-image: url(../images/download-icon-3.png);
    }
    &:hover .download-icon{
        background-image: url(../images/download-icon-3-h.png);
    }   
}



footer{
    background-color: #222;
    padding-top: 55px;
    padding-bottom: 55px;
    
    .copy-text{
        font-weight: 300;
        color: #fff;
        text-align: center;
    }

    .social{
        text-align: center;
        margin-bottom: 20px;
        
        .social-item{
            display: inline-block;
            vertical-align: middle;
            margin-right: 7px;
            margin-left: 7px;
        }
    }

}







